@charset "UTF-8";

.bh_insert_widget {
	padding: 0;
	/* from bh */
	.bh_write_form {
		.btn {
			display: inline-block;
			width: auto;
			height: auto !important;
			color: var(--bh_color_white);
			font-size: inherit;
			line-height: 1.4 !important;
			font-weight: 400;
			text-align: center;
			vertical-align: top;
			background: none;
			background-color: var(--bh_color_gray_600);
			border: 1px solid var(--bh_color_gray_600);
			border-radius: 0;
			padding: 0 10px !important;
			cursor: pointer;
			text-shadow: none;
			box-shadow: none;
			box-sizing: border-box;
		}
		input.btn, button.btn {
			width: 44px;
			height: 34px !important;
			font-size: 13px;
			line-height: 31px !important;
			font-weight: 300;
			padding: 0 3px !important;
		}
		input.btn:focus, button.btn:focus {
			outline: none;
		}
		input:not([type=hidden]) + input, button:not([type=hidden]) + input, .input_with_btn + * {
			margin-left: 3px;
		}
		input {
			&[type="text"], &[type="number"], &[type="password"], &[type="email"], &[type="date"], &[type="tel"],  &[type="url"] {
				display: inline-block;
				height: 55px;
				color: var(--bh_color_gray_900);
				border: 1px solid var(--bh_color_gray_300);
				padding: 0 15px;
				box-sizing: border-box;
				outline: none;
				transition: box-shadow 0.2s ease,border-color 0.2s ease;
				-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
				border-radius: 7px;
				&::placeholder {
					color: var(--bh_color_gray_500);
				}
				@media (max-width:992px) {
					height: 40px;
					padding: 0 10px;
					border-radius: 5px;
				}
			}
			&[type="text"]:hover, &[type="number"]:hover, &[type="password"]:hover, &[type="email"]:hover, &[type="date"]:hover, &[type="tel"]:hover, &[type="url"]:hover {
				background-color: var(--bh_color_white);
				border-color: var(--bh_color_gray_300);
				outline: none;
				box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
				transition: box-shadow 0.2s ease,border-color 0.2s ease;
				-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
			}
			&[type="text"]:focus, &[type="number"]:focus, &[type="password"]:focus, &[type="email"]:focus, &[type="date"]:focus, &[type="tel"]:focus, &[type="url"]:focus {
				background-color: var(--bh_color_white);
				border-color: var(--bh_color_gray_900);
				outline: none;
				box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
				transition: box-shadow 0.2s ease,border-color 0.2s ease;
				-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
			}
		}
		textarea {
			display: block;
			width: 100%;
			color: var(--bh_color_gray_900);
			background-color: var(--bh_color_gray_50);
			border: 1px solid var(--bh_color_gray_200);
			padding: 8px 9px;
			box-sizing: border-box;
			outline: none;
			transition: box-shadow 0.2s ease,border-color 0.2s ease;
			-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
			&::placeholder {
				color: var(--bh_color_gray_400);
			}
			&:hover {
				background-color: var(--bh_color_white);
				border-color: var(--bh_color_gray_300);
				outline: none;
				box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
				transition: box-shadow 0.2s ease,border-color 0.2s ease;
				-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
			}
			&:focus {
				background-color: var(--bh_color_white);
				border-color: var(--bh_color_gray_900);
				outline: none;
				box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
				transition: box-shadow 0.2s ease,border-color 0.2s ease;
				-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
			}
		}
		select {
			display: inline-block;
			min-width: 90px;
			height: 34px;
			line-height: 31px;
			padding: 0 0 0 9px;
			background-color: var(--bh_color_gray_100);
			border: 1px solid var(--bh_color_gray_300);
			border: 1px solid var(--bh_color_gray_200);
			box-sizing: border-box;
			&:disabled {
				color: var(--bh_color_gray_600);
				background-color: var(--bh_color_gray_100);
				background-color: var(--bh_color_gray_200);
				opacity: 1;
				-webkit-text-fill-color: none;
			}
		}
		input {
			&.input_wide {
				width: 100%;
			}
			&:not([type=checkbox]):not([type=radio]):disabled,
			&:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=file]):read-only {
				color: var(--bh_color_gray_600);
				background-color: var(--bh_color_gray_100);
				background-color: var(--bh_color_gray_200);
				opacity: 1;
				-webkit-text-fill-color: none;
			}
			&[type="radio"], &[type="checkbox"] {
				display: inline-block;
				width: 15px;
				height: 15px;
				vertical-align: middle;
				margin-top: -2px;
				cursor: pointer;
			}
			&[type="radio"] + label, &[type="checkbox"] + label {
				display: inline-block;
				height: 20px;
				color: var(--bh_color_gray_900);
				line-height: 19px;
				vertical-align: middle;
				padding-left: 5px;
				margin-right: 14px;
				cursor: pointer;
			}
			&[type="file"] {
				display: inline-block;
				height: 34px !important;
				color: var(--bh_color_gray_900);
				font-size: 13px;
				line-height: 34px !important;
				font-weight: 300;
				text-align: center;
				vertical-align: top;
				background: none;
				background-color: var(--bh_color_gray_50);
				border: 1px solid var(--bh_color_gray_200);
				border-radius: 0;
				padding: 0 9px !important;
				cursor: pointer;
				text-shadow: none;
				box-shadow: none;
				box-sizing: border-box;
			}
		}
	}
	@media (max-width: 992px) {
		.bh_write_form {
			input:not([type=hidden]) + input, button:not([type=hidden]) + input, .input_with_btn + * {
				margin-left: 0;
			}
			input {
				&[type="text"], &[type="password"], &[type="email"] {
					width: 100%;
				}
				&[type="number"] {
					width: auto;
				}
				&[type="text"] {
					&.date, &.krzip-postcode {
						width: calc(100% - 48px);
					}
				}
				&[type="date"], &[type="tel"], &[type="file"], &.input_with_btn {
					width: calc(100% - 48px);
				}
				&[type="text"].tel, &[type="tel"].tel {
					width: calc(33.333% - 3px);
				}
			}
			select ~ input {
				&[type="text"].tel, &[type="tel"].tel {
					width: calc(33.333% - 90px);
				}
			}
			textarea {
				width: 100%;
			}
		}
	}
	/* -from bh */


	.bh_write_form {
		border-top: 1px solid var(--bh_color_main);
		border-bottom: 1px solid var(--bh_color_gray_300);
		padding-top: 20px;
		.form_item {
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			ul > li {
				display: inline-block;
			}
			label {
				display: inline-block;
				min-width: 70px;
				font-size: 13px;
			}
			.krZip {
				.krzip-postcode-wrap {
					margin-bottom: 5px;
					.krzip-delete {
						display: none;
					}
				}
				.krzip-address-wrap {
					margin-bottom: 5px;
					.krzip-jibunAddress,
					.krzip-extraAddress {
						display: none;
					}
				}
			}
			.item_title {
				position: relative;
				width: 100%;
				max-width: 130px;
				height: 100%;
				color: var(--bh_color_text);
				font-size: 1.6rem;
				font-weight: 500;
				padding-top: 16px;
				em{
					font-style: normal;
					color: #e23043;
				}
			}
			.item_input {
				-ms-flex: 1 1 0%;
				flex: 1 1 0%;
			}
		}
		input:not([type=hidden]) + input, button:not([type=hidden]) + input, .input_with_btn + * {
			margin-left: 0;
		}
		input {
			&[type="text"], &[type="password"], &[type="email"], &[type="url"] {
				width: 100%;
			}
			&[type="number"] {
				width: auto;
			}
			&[type="text"] {
				&.date, &.krzip-postcode {
					width: calc(100% - 48px);
				}
			}
			&[type="date"], &[type="tel"], &[type="file"], &.input_with_btn {
				width: 100%;
			}
			&[type="text"].tel, &[type="tel"].tel {
				width: calc(33.333% - 3px);
			}
		}
		select ~ input {
			&[type="text"].tel, &[type="tel"].tel {
				width: calc(33.333% - 90px);
			}
		}
		.write_editor {
			div[id^="ckeditor_"], div[id^="ckeditor_"] *, div[id^="ckeditor_"] *:before, div[id^="ckeditor_"] *:after {
				-webkit-box-sizing: initial!important;
				-moz-box-sizing: initial!important;
				box-sizing: initial!important;
			}
			&.editor_file_only {
				div[id^="ckeditor_"], div[id^="simpleeditor_instance_"], .editor_autosaved_message {
					display: none !important;
				}
			}
			div[id^="simpleeditor_"] {
				font-size: 16px;
				border-radius: 7px;
				border-color: var(--bh_color_gray_300);
				.rx_simpleeditor{
					padding: 15px;
					&.has_placeholder{
						color: var(--bh_color_gray_500);
					}
				}
				@media (max-width:992px) {
					border-radius: 5px;
					.rx_simpleeditor{
						padding: 10px;
					}
				}
			}
		}
	}
	.agreement {
		margin-top: 15px;
		> input{
			display: none;
			&:checked + label {
				.checkbox{
					background-color: var(--bh_color_main);
					color: var(--bh_color_white);
					border-color: var(--bh_color_main);
				}
			}
		}
		label{
			display: flex;
			align-items: center;
			gap: 5px;
			.checkbox{
				width: 15px;
				height: 15px;
				border-radius: 3px;
				border: 1px solid var(--bh_color_gray_300);
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 15px;
				line-height: 1;
				color: transparent;
				transition: 0.3s;
			}
			> p{
				font-size: 1.4rem;
				color: var(--bh_color_gray_800);
				> a{
					color: var(--bh_color_gray_500);
				}
			}
		}
	}
	.submit_btn_wrap{
		margin-top: 50px;
		align-items: center;
		justify-content: center;
		.common_btn{
			width: 100%;
			max-width: 150px;
			justify-content: center;
		}
		@media (max-width:992px) {
			margin-top: 30px;
			.common_btn{
				max-width: 120px;
			}
		}
	}
	@media (max-width: 992px) {
		.bh_write_form {
			padding-top: 10px;
			.form_item {
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				margin-bottom: 10px;
				.item_title {
					width: 100%;
					max-width: 100%;
					height: auto;
					padding: 0;
					margin-bottom: 5px;
				}
				.item_input {
					-ms-flex: 1 1 100%;
					flex: 1 1 100%;
				}
			}
		}
	}

	.insert_done_wrap {
		border-radius: 3px;
		padding: 30px;
		.bh_title {
			font-size: 3.4rem;
			text-align: center;
		}
		.insert_btn_wrap {
			text-align: center;
			margin-top: 40px;
		}
	}

}
