@charset "utf-8";
/* bh (9haging@gmail.com) */

.bh_page_widget_wrap {
	display: block;
	padding: 0 15px;
	margin-right: -15px;
	margin-left: -15px;
}
.bh_page_widget_wrap .bh_page_widget_inner {
	display: block;
	position: relative;
	min-height: 27px;
}
.bh_page_widget_wrap .bh_page_widget_inner .bh_setting_btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    color: #666;
    font-size: 13px;
    line-height: 1;
    text-align: right;
    background-color: rgba(221, 221, 221, 0.5);
    padding: 7px 8px;
    z-index: 99;
}
.bh_page_widget_wrap .bh_page_widget_inner .bh_setting_btn:hover {
	background-color: rgba(221, 221, 221, 0.8);
}

@media (max-width: 992px) {

}
