@version(2)

@if ($widget_info->use_link === 'p' || $widget_info->use_slider === 'Y')
	@load ('^' . $layout_info->path . 'slider/swiper.min.js')
	@load ('^' . $layout_info->path . 'slider/swiper.min.css')
	@load ('^' . $layout_info->path . 'slider/swiper.default.scss')
	@load ('css/swiper.card.scss', ['skin' => $widget_info->skin])
	@load ('css/swiper.popup.scss', ['skin' => $widget_info->skin])
@end

@php
	if ($widget_info->use_slider === 'Y')
	{
		$widget_srl = rand();
	}
@endphp

<div class="common_slider_title_wrap">
	<p class="common_slider_title">AnamWallet과 함께하는 사람들</p>
	<div class="common_slider_title_nav">
		<a href="#" class="nav_el member_nav nav_prev"><i class="ri-arrow-left-s-line"></i></a>
		<a href="#" class="nav_el member_nav nav_next"><i class="ri-arrow-right-s-line"></i></a>
	</div>
</div>
<div class="member_items_wrap">
	<div class="swiper-slider swiper-{{ $widget_srl }} member_items">
		<div class="swiper-wrapper">
		@foreach ($widget_info->content_items as $key => $item)
			<div class="swiper-slide member_item">
				<div class="item_inner">
					<div class="item_img">
						@php
							$thumbnail_src = $item->getThumbnail() ?: $layout_info->path . 'img/noimage.jpg';
						@endphp
						<img src="{{ $thumbnail_src }}" srcset="{{ $item->getThumbnail(2) }} 2x"|cond="$item->getThumbnail(2)" alt="image">
					</div>
					<div class="item_content">
						<p class="name">{{ $item->getTitle($widget_info->subject_cut_size)|noescape }}</p>
						<p class="position">{{ $item->getExtraVar_1() }}</p>
					</div>
				</div>
			</div>
		@endforeach
		</div>
	</div>
</div>

@if ($widget_info->use_slider === 'Y')
<script>
	jQuery(function($) {
		$(document).ready(function() {
			new Swiper('.swiper-{{ $widget_srl }}', {
				slidesPerView: '{{ $widget_info->cols_list_count }}',
				navigation: {
					nextEl: '.member_nav.nav_next',
					prevEl: '.member_nav.nav_prev',
				},
				breakpoints: {
					0: {
						spaceBetween: 10,
						slidesPerView: '{{ $widget_info->m_cols_list_count }}',
					},
					992: {
						spaceBetween: 30,
						slidesPerView: '{{ $widget_info->cols_list_count }}',
					},
				},
			});
		});
	});
</script>
@end
