@charset "UTF-8";

.#{$skin} {
	/* swiper.card */
	.swiper-card {
		height: auto;
		.swiper-button-prev,
		.swiper-button-next {
			width: 32px;
			height: 32px;
			margin: 0 35px;
			margin-top: calc(0px - (32px/ 2));
		}
		.swiper-button-prev:after,
		.swiper-button-next:after {
			content: "";
		}
		.swiper-button-prev {
			background-image: url('btn.prev_b2.png') !important;
		}
		.swiper-button-next {
			background-image: url('btn.next_b2.png') !important;
		}
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
		}
	}
	@media (max-width: 992px) {
		.swiper-card {
			height: auto;
		}
	}
}
