<div class="about_wrap">
	<div class="sub_page_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<p class="title1">About us</p>
		<p class="title2">AnamWallet을 소개합니다</p>
	</div>
	<div class="about_con con1">
		<div class="con_desc_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-right">
			<p class="desc1">모듈형 지갑으로 <br> 무한한 가능성을 열다</p>
			<p class="desc2">
				현재 대부분의 가상자산 지갑은 불편하고 구조적 문제점을 가진
				<br> 모놀리식(일체형) 구조를 가지고 있습니다.
				<br> 
				<br> 우리는 이러한 문제점을 해결하기 위해 동적 확장, 격리된 보안,
				<br> 사용자 편의 등을 고려한 세계 최초의 보안 중심
				<br> 모듈형 가상자산 지갑을 제안합니다.
			</p>
		</div>
		<div class="con_img animate-in" data-anim-delay="0" data-anim-type="fade-in-left">
			<img src="/assets/images/sub/about_img1.png" alt="">
			<div class="coin_img img1 animate-in" data-anim-delay="1000" data-anim-type="fade-in-up"><img src="/assets/images/sub/coin_img1.png" alt=""></div>
			<div class="coin_img img2 animate-in" data-anim-delay="1500" data-anim-type="fade-in-up"><img src="/assets/images/sub/coin_img2.png" alt=""></div>
		</div>
	</div>
	<div class="about_con con2">
		<div class="history_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<img class="zbxe_widget_output" widget="bh_gall_widget" skin="bh_list_history" colorset="white" widget_cache="0m" content_type="document" module_srls="148" list_type="gallery" list_count="99" order_target="list_order" order_type="asc" option_view="title" extravar_1="history_content" page_count="1" page_type="add" tab_type="tab_top" tab_target="category" category_range="all" tab_all="N" thumbnail_type="fill" />
		</div>
	</div>
	<div class="about_con con3">
		<div class="member_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<img class="zbxe_widget_output" widget="bh_gall_widget" skin="bh_gall_tc_members" colorset="white" widget_cache="0m" content_type="document" module_srls="167" list_type="gallery" list_count="99" m_list_count="99" cols_list_count="3" m_cols_list_count="2" order_target="list_order" order_type="desc" option_view="thumbnail,title" extravar_1="position" page_count="1" page_type="add" category_range="all" use_slider="Y" thumbnail_type="fill" thumbnail_width="370" thumbnail_height="512" />
		</div>
	</div>
	<div class="about_con con4">
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">주요 논문</p>
		</div>
		<div class="paper_list animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<img class="zbxe_widget_output" widget="bh_gall_widget" skin="bh_gall_tc_papers" colorset="white" widget_cache="0m" content_type="document" module_srls="181" list_type="gallery" list_count="5" m_list_count="5" cols_list_count="1" m_cols_list_count="1" order_target="list_order" order_type="desc" option_view="title,content" page_count="1" page_type="add" use_link="e" new_window="Y" category_range="all" thumbnail_type="fill" />
		</div>
	</div>
</div>
