<div class="busan_wrap">
	<div class="busan_stuff1"><img src="/assets/images/sub/busan_stuff1.png" alt=""></div>
	<div class="busan_con con1">
		<div class="con_img animate-in" data-anim-delay="0" data-anim-type="fade-in-right"><img src="/assets/images/sub/busan_img.png" alt=""></div>
		<div class="con_text animate-in" data-anim-delay="0" data-anim-type="fade-in-left">
			<p class="text1">부산에서는 <br> 부산월렛으로 만나요</p>
			<p class="text2">
				부산의 모든 일상을 하나의 지갑에 담았습니다.
				<br> 게임, 뉴스, 관광, 문화, 결제까지 부산시민을 위한
				<br class="lg:ds-b ds-n"> 원스톱 Web3 플랫폼으로, 블록체인 기반의 투명하고 안전한
				<br class="lg:ds-b ds-n"> 통합 서비스 플랫폼을 제공합니다.
				<br> 
				<br> 부산넷, 비트코인, 이더리움 등 멀티체인을 지원하여 자유로운
				<br class="lg:ds-b ds-n"> 디지털 자산 관리가 가능하며, NFT 티켓팅부터 암호화폐 결제까지 부산의 디지털 혁신을 선도합니다.
				<br> 
				<br> 지금 부산월렛과 함께 Web3 문화도시 부산의
				<br class="lg:ds-b ds-n"> 새로운 미래를 경험하세요.
			</p>
		</div>
	</div>
	<div class="busan_con con2">
		<div class="con_stuff"><img src="/assets/images/sub/busan_stuff2.png" alt=""></div>
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">블록체인으로 연결되는 <br> 부산의 모든 일상</p>
		</div>
		<div class="con_items">
			<div class="con_item item1 animate-in" data-anim-delay="300" data-anim-type="fade-in-up">
				<div class="item_inner">
					<div class="item_icon"><img src="/assets/images/sub/busan_icon1.svg" alt=""></div>
					<div class="item_content">
						<p class="title">금융 생태계</p>
						<p class="desc">멀티체인 지갑으로 <br> 디지털 자산 통합 관리</p>
					</div>
				</div>
			</div>
			<div class="con_item item2 animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
				<div class="item_inner">
					<div class="item_icon"><img src="/assets/images/sub/busan_icon2.svg" alt=""></div>
					<div class="item_content">
						<p class="title">부산일보 + 커뮤니티</p>
						<p class="desc">블록체인 기반 <br> 투명한 미디어 플랫폼</p>
					</div>
				</div>
			</div>
			<div class="con_item item3 animate-in" data-anim-delay="600" data-anim-type="fade-in-up">
				<div class="item_inner">
					<div class="item_icon"><img src="/assets/images/sub/busan_icon3.svg" alt=""></div>
					<div class="item_content">
						<p class="title">Web3 문화도시 실현</p>
						<p class="desc">NFT 티켓팅으로 <br> 공정한 문화 생태계 구축</p>
					</div>
				</div>
			</div>
		</div>
		<div class="con_desc animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p>
				부산월렛은 세 가지 핵심 가치를 통해 부산의 디지털 전환을 이끕니다.
				<br> 
				<br> 금융 생태계 혁신으로 암호화폐가 실생활 결제 수단이 되고, 부산일보와 함께 투명한 미디어 생태계를 구축하며,
				<br class="lg:ds-b ds-n"> NFT 기반 문화 플랫폼으로 공정한 티켓팅과 새로운 문화 경험을 제공합니다.
				<br> 
				<br> 하나의 플랫폼에서 펼쳐지는 무한한 가능성, 스마트 시티 부산의 새로운 시작입니다.
			</p>
		</div>
	</div>
	<div class="busan_con con3">
		<div class="sub_con_title ta-c">
			<p class="title1 animate-in" data-anim-delay="0" data-anim-type="fade-in-up">부산일보와 함께하는 <br> 블록체인 미디어 혁신</p>
			<p class="title2 animate-in" data-anim-delay="0" data-anim-type="fade-in-up">Web3 기반 새로운 언론 생태계</p>
		</div>
		<div class="con_items">
			<div class="con_item item1 animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
				<div class="item_inner">
					<div class="item_icon"><img src="/assets/images/sub/busan_icon4.svg" alt=""></div>
					<div class="item_content">
						<p class="title">기자 직접 후원</p>
						<p class="desc">QR코드로 간편하게 좋은 기사를 쓴 기자에게 이더리움(ETH)으로 직접 후원</p>
						<div class="common_btn_wrap">
							<a href="{$layout_info->busan_link1 ?? '#'}" target="_blank"|cond="$layout_info->busan_link1_blank && in_array('Y', $layout_info->busan_link1_blank)" class="common_btn">기자 목록 보기</a>
						</div>
					</div>
				</div>
			</div>
			<div class="con_item item2 animate-in" data-anim-delay="200" data-anim-type="fade-in-up">
				<div class="item_inner">
					<div class="item_icon"><img src="/assets/images/sub/busan_icon5.svg" alt=""></div>
					<div class="item_content">
						<p class="title">부산일보 후원</p>
						<p class="desc">블록체인 기반 투명한 후원으로 <br> 부산의 미래를 함께 만들어주세요</p>
						<div class="common_btn_wrap">
							<a href="{$layout_info->busan_link2 ?? '#'}" target="_blank"|cond="$layout_info->busan_link2_blank && in_array('Y', $layout_info->busan_link2_blank)" class="common_btn">후원하기</a>
						</div>
					</div>
				</div>
			</div>
			<div class="con_item item3 animate-in" data-anim-delay="400" data-anim-type="fade-in-up">
				<div class="item_inner">
					<div class="item_icon"><img src="/assets/images/sub/busan_icon6.svg" alt=""></div>
					<div class="item_content">
						<p class="title">광고 서비스</p>
						<p class="desc">이더리움 결제 시 <br> 부가세 10% 할인</p>
						<div class="common_btn_wrap">
							<a href="{$layout_info->busan_link3 ?? '#'}" target="_blank"|cond="$layout_info->busan_link3_blank && in_array('Y', $layout_info->busan_link3_blank)" class="common_btn">광고 신청</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="busan_con con4">
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">든든한 파트너와 함께하는 부산월렛</p>
		</div>
		<div class="busan_partners animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<img class="zbxe_widget_output" widget="bh_gall_widget" skin="bh_gall_tc_partners" colorset="white" widget_cache="0m" content_type="document" module_srls="187" list_type="gallery" list_count="99" m_list_count="99" cols_list_count="3" m_cols_list_count="2" order_target="list_order" order_type="desc" option_view="thumbnail" page_count="1" page_type="add" category_range="all" thumbnail_type="original" />
		</div>
	</div>
	<div class="busan_con con5">
		<div class="busan_stuff3"><img src="/assets/images/sub/busan_stuff3.png" alt=""></div>
		<img class="zbxe_widget_output" widget="bh_page_widget" skin="bh_page" colorset="white" widget_cache="0m" page_name="common_banner" />
	</div>
</div>
