<div class=" animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
	<div class="common_banner_wrap">
		<div class="banner_bg"><img src="/assets/images/main/banner_bg.png" alt=""></div>
		<div class="banner_con">
			<div class="con_img"><img src="/assets/images/main/banner_stuff.png" alt=""></div>
			<div class="con_text">
				<p class="title ff_ws" data-lang="common_banner_title">AnamWallet에 <br> 더 궁금한 점이 있으신가요?</p>
				<a href="/contact" class="link" data-lang="common_banner_btn">Contact</a>
			</div>
		</div>
	</div>
</div>