<div class="contact_wrap">
	<div class="sub_page_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<p class="title1">Contact</p>
		<p class="title2" data-lang="contact_subtitle">Feel free to contact us anytime</p>
	</div>
	<div class="contact_banner_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<div class="banner_bg"><img src="/assets/images/sub/contact_banner_bg.png" alt=""></div>
		<div class="banner_inner">
			<p class="banner_text" data-lang="contact_banner_text">Have more questions <br> about AnamWallet?</p>
			<div class="banner_img"><img src="/assets/images/sub/contact_banner_img.png" alt=""></div>
		</div>
	</div>
	<div class="contact_form_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<img class="zbxe_widget_output" widget="bh_insert_widget" skin="default" widget_cache="0m" module_srls="122" title_message="제목입니다." writer_message="글쓴이입니다." email_message="test@naver.com" use_content="content_only" content_default="문의 내용을 입력해 주세요." submit_name="Submit" />
	</div>
</div>
