<div class="sec2_wrap ta-c">
	<div class="main_common_title animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<p class="title1">Live Local, Live Smart</p>
		<p class="title2" data-lang="section2_subtitle">지자체와 함께하는 <br> 스마트 로컬 생활</p>
	</div>
	<div class="wallet_items">
		<div class="wallet_item item1 animate-in" data-anim-delay="300" data-anim-type="fade-in-up">
			<div class="item_inner">
				<div class="item_location">#Seoul</div>
				<div class="item_img"><img src="/assets/images/main/main_wallet_img1.png" alt=""></div>
			</div>
		</div>
		<div class="wallet_item item2 animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<div class="item_inner">
				<div class="item_location">#Busan</div>
				<div class="item_img"><img src="/assets/images/main/main_wallet_img2.png" alt=""></div>
			</div>
		</div>
		<div class="wallet_item item3 animate-in" data-anim-delay="600" data-anim-type="fade-in-up">
			<div class="item_inner">
				<div class="item_location">#LA</div>
				<div class="item_img"><img src="/assets/images/main/main_wallet_img3.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="check_text_items ds-ib animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<p class="check_text"><span class="check"><img src="/assets/images/icon/icon_check.svg" alt=""></span><span class="text" data-lang="section2_check1">스킨 하나로 현지 생활 즉시 시작</span></p>
		<p class="check_text"><span class="check"><img src="/assets/images/icon/icon_check.svg" alt=""></span><span class="text" data-lang="section2_check2">지자체 직접 운영 서비스부터 제휴 민간 서비스까지, 도시별 큐레이션된 생활 플랫폼</span></p>
		<p class="check_text"><span class="check"><img src="/assets/images/icon/icon_check.svg" alt=""></span><span class="text" data-lang="section2_check3">부산광역시 공식 파트너</span></p>
	</div>
	<div class="common_btn_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<a href="#" class="common_btn coming_soon" onclick="return false;" data-lang="section2_btn_coming">Coming Soon</a>
	</div>
</div>
