<div class="sec1_wrap">
	<div class="sec1_vid_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-right">
		<div class="phone_mockup">
			<div class="mockup_con">
				<img src="/assets/images/main/phone_mockup.png" alt="">
				<video preload="metadata" autoplay muted loop playsinline>
					<source src="/assets/videos/sec1_vid2.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
	<div class="sec1_con_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-left">
		<div class="main_common_title">
			<p class="title1">Your Wallet, AnamWallet</p>
			<p class="title2" data-lang="section1_subtitle">당신만의 방식으로, <br> 지갑을 새롭게</p>
		</div>
		<div class="check_text_items">
			<p class="check_text"><span class="check"><img src="/assets/images/icon/icon_check.svg" alt=""></span><span class="text" data-lang="section1_check1">내 취향대로 만드는 지갑</span></p>
			<p class="check_text"><span class="check"><img src="/assets/images/icon/icon_check.svg" alt=""></span><span class="text" data-lang="section1_check2">원하는 블록체인 선택</span></p>
			<p class="check_text"><span class="check"><img src="/assets/images/icon/icon_check.svg" alt=""></span><span class="text" data-lang="section1_check3">나만의 지갑 완성</span></p>
		</div>
		<div class="common_btn_wrap lg:jc-s jc-c">
			<a href="https://hub.anamwallet.io" class="common_btn" target="_blank" data-lang="section1_btn_hub">Go to Anam Hub</a>
		</div>
	</div>
</div>

<script>
	const videoElement = document.querySelector('video');
	videoElement.addEventListener('click', () => {
		videoElement.play();
	})
</script>
