<div class="security_wrap">
	<div class="sub_page_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<p class="title1">Security</p>
		<p class="title2" data-lang="security_subtitle">AnamWallet Architecture</p>
	</div>
	<div class="security_con con1">
		<div class="security_img_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="img_title" data-lang="security_scenario_title">Malicious Module Scenario</p>
			<img src="/assets/images/sub/security_img.svg" alt="">
		</div>
		<div class="security_slider_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<div class="swiper-slider security_slider slider1">
				<div class="swiper-wrapper">
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon1.svg" alt=""></div>
							<div class="item_con">
								<p class="title" data-lang="security_zero_trust">Zero Trust Architecture</p>
								<div class="item_dot_list">
									<p data-lang="security_zero_trust_desc1">All modules are considered potential threats</p>
									<p data-lang="security_zero_trust_desc2">Design assumes presence of malicious modules</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon2.svg" alt=""></div>
							<div class="item_con">
								<p class="title" data-lang="security_e2e_title">End-to-End Encrypted Communication</p>
								<div class="item_dot_list">
									<p data-lang="security_e2e_desc1">IPC Binder + Additional encryption layer</p>
									<p data-lang="security_e2e_desc2">Asymmetric key exchange, symmetric key communication</p>
									<p data-lang="security_e2e_desc3">Complete prevention of eavesdropping/tampering</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon3.svg" alt=""></div>
							<div class="item_con">
								<p class="title" data-lang="security_process_title">Process Isolation</p>
								<div class="item_dot_list">
									<p data-lang="security_process_desc1">Independent process execution per module</p>
									<p data-lang="security_process_desc2">Direct memory access blocked</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon4.svg" alt=""></div>
							<div class="item_con">
								<p class="title" data-lang="security_filesystem_title">File System Isolation</p>
								<div class="item_dot_list">
									<p data-lang="security_filesystem_desc1">Dedicated directory allocation per module</p>
									<p data-lang="security_filesystem_desc2">Other modules cannot access key files</p>
									<p data-lang="security_filesystem_desc3">Delete/overwrite attacks neutralized</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider_nav nav1">
				<a href="#" class="nav_next"><i class="ri-arrow-left-s-line"></i></a>
			</div>
		</div>
	</div>
	<div class="security_con con2">
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">아키텍처의 확실한 보안성</p>
			<p class="title2">직접 통제하고, 직접 확인하는 Anam Wallet의 새로운 보안 방식</p>
		</div>
		<div class="security_slider_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<div class="swiper-slider security_slider slider2">
				<div class="swiper-wrapper">
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img1.jpg" alt=""></div>
							<div class="item_con">
								<p data-lang="security_slide1_text">
									Self-custody means users have direct
									<br> control over their funds.
									<br> We have absolutely no access.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img2.jpg" alt=""></div>
							<div class="item_con">
								<p data-lang="security_slide2_text">
									You always know exactly what you're
									<br> logging into and what you're signing.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img3.jpg" alt=""></div>
							<div class="item_con">
								<p data-lang="security_slide3_text">
									Free module installation, thorough security isolation.
									<br> More secure through zero trust.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img4.jpg" alt=""></div>
							<div class="item_con">
								<p data-lang="security_slide4_text">
									Absolute security with Decentralized Identity (DID).
									<br> No central server to hack,
									<br> no passwords to leak.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider_nav nav2">
				<a href="#" class="nav_next"><i class="ri-arrow-left-s-line"></i></a>
			</div>
		</div>
	</div>
	<div class="security_con con3">
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">AnamWallet의 특허 소개</p>
		</div>
		<div class="ceritifications_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<img class="zbxe_widget_output" widget="bh_gall_widget" skin="bh_gall_tc_certifications" colorset="white" widget_cache="0m" content_type="document" module_srls="124" list_type="gallery" list_count="99" m_list_count="99" cols_list_count="3" m_cols_list_count="2" order_target="list_order" order_type="desc" option_view="thumbnail,title" extravar_1="certi_num" page_count="1" page_type="add" category_range="all" thumbnail_type="fill" thumbnail_width="370" thumbnail_height="524" />
		</div>
	</div>
</div>

<script>
	const securitySlider1 = new Swiper('.security_slider.slider1', {
		navigation: {
			nextEl: '.slider_nav.nav1 > .nav_next',
			prevEl: '.slider_nav.nav1 > .nav_prev',
		},
		breakpoints: {
			0:{
				slidesPerView: 1,
				spaceBetween: 10
			},
			992:{
				slidesPerView: 2,
				spaceBetween: 30
			}
		}
	})
	const securitySlider2 = new Swiper('.security_slider.slider2', {
		slidesPerView: 'auto',
		navigation: {
			nextEl: '.slider_nav.nav2 > .nav_next',
			prevEl: '.slider_nav.nav2 > .nav_prev',
		},
		breakpoints: {
			0:{
				spaceBetween: 10
			},
			992:{
				spaceBetween: 30
			}
		}
	})
</script>
