<div class="security_wrap">
	<div class="sub_page_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
		<p class="title1">Security</p>
		<p class="title2">AnamWallet의 아키텍처</p>
	</div>
	<div class="security_con con1">
		<div class="security_img_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="img_title">악성 모듈 시나리오</p>
			<img src="/assets/images/sub/security_img.svg" alt="">
		</div>
		<div class="security_slider_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<div class="swiper-slider security_slider slider1">
				<div class="swiper-wrapper">
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon1.svg" alt=""></div>
							<div class="item_con">
								<p class="title">Zero Trust 아키텍처</p>
								<div class="item_dot_list">
									<p>모든 모듈은 잠재적 위협으로 간주</p>
									<p>악성 모듈 존재 가정한 설계</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon2.svg" alt=""></div>
							<div class="item_con">
								<p class="title">종간단 암호화 통신</p>
								<div class="item_dot_list">
									<p>IPC Binder + 추가 암호화 레이어</p>
									<p>비대칭키 교환 대칭키 통신</p>
									<p>도청/ 변조 원천 차단</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon3.svg" alt=""></div>
							<div class="item_con">
								<p class="title">프로세스 격리</p>
								<div class="item_dot_list">
									<p>모듈별 독립 프로세스 실행</p>
									<p>메모리 직접 접근 차단</p>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_icon"><img src="/assets/images/sub/item_icon4.svg" alt=""></div>
							<div class="item_con">
								<p class="title">파일 시스템 격리</p>
								<div class="item_dot_list">
									<p>모듈별 전용 디렉토리 할당</p>
									<p>타 모듈 키 파일 접근 불가</p>
									<p>삭제/덮어쓰기 공격 무력화</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider_nav nav1">
				<a href="#" class="nav_next"><i class="ri-arrow-left-s-line"></i></a>
			</div>
		</div>
	</div>
	<div class="security_con con2">
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">아키텍처의 확실한 보안성</p>
			<p class="title2">직접 통제하고, 직접 확인하는 Anam Wallet의 새로운 보안 방식</p>
		</div>
		<div class="security_slider_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<div class="swiper-slider security_slider slider2">
				<div class="swiper-wrapper">
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img1.jpg" alt=""></div>
							<div class="item_con">
								<p>
									셀프 커스터디 방식은 사용자가 자금을 직접
									<br> 통제한다는 의미입니다.
									<br> 저희는 절대 접근할 수 없습니다.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img2.jpg" alt=""></div>
							<div class="item_con">
								<p>
									항상 자신이 무엇에 로그인 하는지,
									<br> 무엇에 서명하는지 정확히 알 수 있습니다.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img3.jpg" alt=""></div>
							<div class="item_con">
								<p>
									자유로운 모듈 설치, 철저한 보안 격리.
									<br> 신뢰하지 않음으로써 더 안전합니다.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide security_item">
						<div class="item_inner">
							<div class="item_img"><img src="/assets/images/sub/security_img4.jpg" alt=""></div>
							<div class="item_con">
								<p>
									탈중앙화 신원(DID)으로 완성한 절대 보안.
									<br> 해킹할 중앙 서버가 없고, 유출될 비밀번호도
									<br> 없습니다.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider_nav nav2">
				<a href="#" class="nav_next"><i class="ri-arrow-left-s-line"></i></a>
			</div>
		</div>
	</div>
	<div class="security_con con3">
		<div class="sub_con_title ta-c animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<p class="title1">AnamWallet의 특허 소개</p>
		</div>
		<div class="ceritifications_wrap animate-in" data-anim-delay="0" data-anim-type="fade-in-up">
			<img class="zbxe_widget_output" widget="bh_gall_widget" skin="bh_gall_tc_certifications" colorset="white" widget_cache="0m" content_type="document" module_srls="124" list_type="gallery" list_count="99" m_list_count="99" cols_list_count="3" m_cols_list_count="2" order_target="list_order" order_type="desc" option_view="thumbnail,title" extravar_1="certi_num" page_count="1" page_type="add" category_range="all" thumbnail_type="fill" thumbnail_width="370" thumbnail_height="524" />
		</div>
	</div>
</div>

<script>
	const securitySlider1 = new Swiper('.security_slider.slider1', {
		navigation: {
			nextEl: '.slider_nav.nav1 > .nav_next',
			prevEl: '.slider_nav.nav1 > .nav_prev',
		},
		breakpoints: {
			0:{
				slidesPerView: 1,
				spaceBetween: 10
			},
			992:{
				slidesPerView: 2,
				spaceBetween: 30
			}
		}
	})
	const securitySlider2 = new Swiper('.security_slider.slider2', {
		slidesPerView: 'auto',
		navigation: {
			nextEl: '.slider_nav.nav2 > .nav_next',
			prevEl: '.slider_nav.nav2 > .nav_prev',
		},
		breakpoints: {
			0:{
				spaceBetween: 10
			},
			992:{
				spaceBetween: 30
			}
		}
	})
</script>
